*{
    box-sizing: border-box;
}
.section-1{
    background: #FBDDDF;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 24px;
}
.content{
    text-align: center;
    font-weight: 500;
    margin-bottom: 5px;
}
@keyframes fadeIn {
    0% {
      opacity: 0.6;
    }
  
    100% {
      opacity: 1;
    }
  }
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-decoration: underline;
    text-align: center;
    padding: 5px 5px;
    background: #fff;
    border-radius: 10px;
    margin-top: 10px;
    animation: fadeIn 1s ease-in-out infinite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover ;
}
.icon{
    font-size: 32px;
    color: #F85C70;
    margin-right: 5px;
}