*{
    box-sizing: border-box;
}
.section-1{
    background: #FBDDDF;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}
.content{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}
.link{
    display: inline-block;
    color: #000;
    text-decoration: underline;
    text-align: center;
    padding: 5px 5px;
    background: #fff;
    border-radius: 10px;
    margin-top: 10px;
}
.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%; 
}